OCR_API_KEY=troque-por-uma-chave-grande-e-aleatoria
OCR_LANGUAGE=pt
OCR_VERSION=PP-OCRv5
OCR_DETECTION_MODEL=PP-OCRv5_mobile_det
OCR_RECOGNITION_MODEL=latin_PP-OCRv5_mobile_rec
OCR_DEVICE=cpu
OCR_MAX_CONCURRENCY=2
OCR_MAX_IMAGE_BYTES=20971520
OCR_USE_DOC_ORIENTATION=false
OCR_USE_DOC_UNWARPING=false
OCR_USE_TEXTLINE_ORIENTATION=false
